- import scala.collection.mutable.ArrayBuffer
- import isucon2._

- val recent_sold = at("recent_sold").asInstanceOf[ArrayBuffer[(String, String, String, String)]]

!!! 5
html
  head
    != antiCSRFMeta
    != xitrumCSS

    meta(charset="utf-8")
    title isucon 2

    link(type="text/css" rel="stylesheet" href={publicUrl("css/ui-lightness/jquery-ui-1.8.24.custom.css")})
    link(type="text/css" rel="stylesheet" href={publicUrl("css/isucon2.css")})
    script(type="text/javascript" src={publicUrl("js/jquery-1.8.2.min.js")})
    script(type="text/javascript" src={publicUrl("js/jquery-ui-1.8.24.custom.min.js")})
    script(type="text/javascript" src={publicUrl("js/isucon2.js")})

  body

    header
      a(href={url[SiteIndex]})
        img(src="/images/isucon_title.jpg")
    #sidebar
      table
        tr
          th(colspan="2") 最近購入されたチケット
          - if (recent_sold.length > 0)
          - for (item <- recent_sold)
            tr
              td.recent_variation= s"${item._4} ${item._3} ${item._2}"
              td.recent_seat_id= item._1

    #content
      != renderedView
